.center {
  margin: auto;
  width: 50%;
  padding: 50px;
  text-align: center;
}

.app-background {
  background-color: #F5F5F5;
}

.fab-button.mdl-button {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: 40px;
  margin-bottom: 40px;
  z-index: 900;
}

.form-card.mdl-card {
  width: 400px;
  height: 400px;
}

.form-title {
  margin: auto;
  width: 30%;
  padding: 50px;
  text-align: center;
}

.show-card {
  text-align: left;
}